<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Versus</title>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <h1 class="title">404 Not Found</h1>
      <p>
        Try starting over at the <a href="/">homepage</a>.
      </p>
  </body>
</html>
