<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Versus</title>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Whoops</h1>
      <p>
        Something went very wrong. Try starting over at the <a href="/">homepage</a> or
        <a href="mailto:jason@jasoncrawford.org?subject=Versus%20error">contact Jason</a>.
      </p>
      <p class="error-detail">
        <%= message %>
      </p>
  </body>
</html>
