<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Versus: About</title>
    <meta name="description" content="About Versus, a tool to find alternatives"/>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <h1 class="title">About Versus</h1>
      <p>
        A project by <a href="https://twitter.com/jasoncrawford" target="_blank">Jason Crawford</a>.
      </p>

      <p>
        When I am exploring alternatives to a product or service, I often to go Google, type "[product] vs ", and just
        see what it autocompletes. That usually tells me the most popular competitors. If I want to be thorough I'll do
        the same for the competitors, etc.
      </p>

      <p>
        This tool just does that automatically for you.
      </p>
  </body>
</html>
