.container {
  margin: 60px auto;
}

.tagline {
  font-size: 18px;
}

.main-form {
  margin-top: 40px;
}

.input-group {
  width: 280px;
}

.options {
  margin: 40px 0;
}

.options p {
  margin: 0;
}

.option-count {
  font-weight: bold;
}

.option .term {
  color: #333;
}

.option .count {
  color: #7986cb;
}

.option .chain {
  color: #aaa;
}

.error-header {
  font-weight: bold;
  color: #d32f2f;
}

.error-detail {
  color: #ccc;
}

.about, .about:hover {
  color: #aaa;
}
